# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj
build/


# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
bin/

# Project
EFP_ICAPS_old/nbproject/
nbproject/
readme_old

# Doxygen
Doxygen/Docs/

# Out files
out/
*.tmp

#Old planner
EFP_ICAPS_old/cpa+
EFP_ICAPS_old/built_date
EFP_ICAPS_old/bison.c
EFP_ICAPS_old/lcp.output
EFP_ICAPS_old/lcp.tab.c
EFP_ICAPS_old/lcp.tab.h
EFP_ICAPS_old/lex.c
EFP_ICAPS_old/lex.yy.c
EFP_ICAPS_old/tok.h


#Other files
.idea/*
